<body>
     <div id="container">
         <div id="part1">
             <div id="companyinfo"> <a id="sitelink" href="#">CommercialCity</a>
                 <p id="title" class="h4">Publica tu propiedad con nosotros</p>
                 <p id="detail">La comunidad digital del mundo inmobiliario </p>
             </div>
             <div id="explore" class="mr-5">
                    <ul style="list-style-type:none;">
                        <li class="text-white h4">Conocenos</li> 
                        <li><%= link_to  "Inicio", root_path, class:"text-white h6 my-5" %></li>
                        <li><%= link_to  "Publica una propiedad", root_path, class:"text-white h6 my-5" %></li>
                        <li><%= link_to  "Los corredores mejor calificados por los usuarios", root_path, class:"text-white h6" %>
                    </ul>
             </div>
             <div id="visit" class="text-white ml-5">
                 <p class="h4 text-white mb-3">Visitanos</p>
                 <p class="text">Avenida Libertad 555</p>
                 <p class="text">Oficina 505</p>
             </div>
             <div id="legal">
             </div>
             <div id="subscribe">
                 <p id="txt5">Buscanos en nuestras redes</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
             </div>
         </div>
     </div>
 </body>