// Place all the styles related to the Estates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.property-main-photo {
    height: 500px;
    background-size: cover;
}

body {
    background-color: #eee
}

.carousel-inner img {
    width: 100%
}

.carousel-item img {
    width: 1200px;
    height: 628px !important;
    margin-top: 200px;
}

.carousel-inner{
    position: fixed;
}

.show-text{
    margin-top: 200px;
    margin-bottom: 300px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-item img {
    width:100%;
    height: 300px;
  }

  .carousel-item {
    height: 90vh;
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .show-header{
      margin-top: 100 px;
      padding-top: 200px;
  }

  .carousel-control-prev{
      height: 75%;
      top: 150%;
  }

  .carousel-control-next{
    height: 75%;
    top: 150%;
  }

  .carousel-inner > .carousel-item > img {
    margin: 0 auto;
  }

